<ion-header>
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center color=dark>
      <h1>
        <img width=40 src="assets/icon/cerveja.jpg">
        Água
        <img width=40 src="assets/icon/cerveja.jpg"></h1>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-title text-center>
      Cadastrar Água
    </ion-card-title>
    <ion-list>
        <ion-item>
            <ion-label>Origem:</ion-label>
            <ion-input type="text" [(ngModel)]="data.origem" clear-input text-capitalize></ion-input>
          </ion-item>
      <ion-item>
        <ion-label>Ph:</ion-label>
        <ion-input type="number" [(ngModel)]="data.ph" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cálcio:</ion-label>
        <ion-input type="number" [(ngModel)]="data.calcio" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Magnésio:</ion-label>
        <ion-input type="number" [(ngModel)]="data.magnesio" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sódio:</ion-label>
        <ion-input type="number" [(ngModel)]="data.sodio" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Sulfato:</ion-label>
        <ion-input type="number" [(ngModel)]="data.sulfato" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Bicarbonato de Sódio:</ion-label>
        <ion-input type="number" [(ngModel)]="data.bicarbonato" clear-input></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" (click)="submitForm()">Cadastrar</ion-button>
    <ion-button routerLink="/agua-list">Listar</ion-button>
    <br>
  </ion-card>
</ion-content>