<ion-header>
    <ion-toolbar class="ion-padding-end" color=success>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-avatar slot="start">
          <img src="assets/icon/malte.jpg">
        </ion-avatar>
        <ion-title text-center color=dark>
          <h3>Malte</h3>
        </ion-title>
        <ion-avatar slot="end">
          <img src="assets/icon/malte.jpg">
        </ion-avatar>
      </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-title text-center>
      Cadastrar Malte
    </ion-card-title>
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="data.nome" clear-input text-capitalize></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Cor EBC:</ion-label>
        <ion-input type="number" [(ngModel)]="data.cor" clear-input placeholder="2 - 1500 EBC"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Potencial %:</ion-label>
        <ion-input type="number" [(ngModel)]="data.potencial" clear-input placeholder="5 - 100"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="submitForm()" [routerLink]="['/malte-list']">Cadastrar</ion-button>
    <ion-button routerLink="/malte-list">Listar</ion-button>
    <br>
  </ion-card>
</ion-content>