<ion-header>
    <ion-toolbar>
      <ion-title>Editar Cerveja</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
      <ion-list>
          <ion-item>
            <ion-label>Tipo:</ion-label>
            <ion-input type="text" [(ngModel)]="data.tipo" clear-input text-capitalize></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>OG:</ion-label>
            <ion-input type="number" [(ngModel)]="data.og" clear-input></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label>FG: </ion-label>
            <ion-input type="number" [(ngModel)]="data.fg" clear-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>IBU: </ion-label>
            <ion-input type="number" [(ngModel)]="data.ibu" clear-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>SRM: </ion-label>
            <ion-input type="number" [(ngModel)]="data.srm" clear-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>ABV:</ion-label>
            <ion-input type="number" [(ngModel)]="data.abv" clear-input></ion-input>
          </ion-item>
    
        </ion-list>    
  
    <ion-button expand="full" (click)="update()">
      Atualizar
    </ion-button>
    <ion-button expand="full" [routerLink]="[ '/tipo-cerveja-list']"  color="danger" >
      Cancelar
    </ion-button>
  </ion-content>
  