<ion-header>
  <ion-toolbar class="ion-padding-end" color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="assets/icon/ensaio.jpg">
    </ion-avatar>
    <ion-title text-center color=dark>
      <h3>Receitas</h3>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/icon/ensaio.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-title text-center>
      Cadastrar Receita
    </ion-card-title>
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="data.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Receita:</ion-label>
        <ion-input type="text" [(ngModel)]="data.receita"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="submitForm()">Cadastrar</ion-button>
    <ion-button routerLink="/receitas-list">Listar</ion-button>
    <br>
  </ion-card>
</ion-content>