<ion-header>
  <ion-toolbar class="ion-padding-end" color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="assets/icon/levedura.jpg">
    </ion-avatar>
    <ion-title text-center color=dark>
      <h3>Levedura</h3>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/icon/levedura.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding>
    <ion-card-title text-center>
      Cadastrar Levedura
    </ion-card-title>
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="data.nome" clear-input text-capitalize></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Atenuação %:</ion-label>
        <ion-input type="number" [(ngModel)]="data.atenuacao" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Temp. Min.de Trabalho:</ion-label>
        <ion-input type="number" [(ngModel)]="data.tempMin" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Temp. Max. de Trabalho:</ion-label>
        <ion-input type="number" [(ngModel)]="data.tempMax" clear-input></ion-input>
      </ion-item>

    </ion-list>
    <ion-button type="submit" (click)="submitForm()">Cadastrar</ion-button>
    <ion-button routerLink="/levedura-list">Listar</ion-button>
    <br>
  </ion-card>
</ion-content>