<ion-header>
  <ion-toolbar color=success>
    <ion-title text-center color=dark>
      <h1>
        <img width=50 src="assets/icon/cevas.jpg">
        IonBeer
        <img width=50 src="assets/icon/cevas.jpg">
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/IonBeer.jpg">
      <ion-card-title>IonBeer</ion-card-title>
      <ion-card-subtitle>Introdução IonBeer</ion-card-subtitle>
      <p> IonBeer é um aplicativo que permite montar e armazenar receitas de cervejas artesanais, ideal para você que é
        um entusiasta, pequeno cervejeiro ou cervejeiro profissional.</p>
      <br>
      <ion-button tappable routerLink="/receitas">Receitas</ion-button>
      <ion-button>Compartilhar
        <ion-icon slot=end name="logo-facebook" routerlink="http://www.facebook.com.br"></ion-icon>
      </ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>