<ion-header >
  <ion-toolbar class="ion-padding-end" color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="assets/icon/cerveja.jpg">
    </ion-avatar>
    <ion-title text-center color=dark>
      <h3>Cervejas</h3>
    </ion-title>
    <ion-avatar slot="end">
      <img src="assets/icon/cerveja.jpg">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <h3 style="text-align: center">Cadastrar Cerveja</h3>
    
    <ion-list>
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="data.nome" clear-input text-capitalize></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Descrição:</ion-label>
        <ion-textarea rows="6" cols="20" [(ngModel)]="data.descricao" clear-input text-capitalize></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Densidade Original (OG):</ion-label>
        <ion-input type="number" [(ngModel)]="data.og" clear-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Densidade Final (FG): </ion-label>
        <ion-input type="number" [(ngModel)]="data.fg" clear-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Amargor: </ion-label>
        <ion-input type="number" [(ngModel)]="data.ibu" clear-input></ion-input>IBUs
      </ion-item>
      <ion-item>
        <ion-label>Cor: </ion-label>
        <ion-input type="number" [(ngModel)]="data.srm" clear-input></ion-input>SRM
      </ion-item>
      <ion-item>
        <ion-label>Gradação Alcoólica (ABV):</ion-label>
        <ion-input type="number" [(ngModel)]="data.abv" clear-input></ion-input>%
      </ion-item>

    </ion-list>
    <ion-button (click)="submitForm()" >Cadastrar</ion-button>
    <ion-button routerLink="/tipo-cerveja-list">Listar</ion-button>    
</ion-content>