<ion-header>
  <ion-toolbar color=success>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center color=dark>
      <h3>
        <img width=40 src="assets/icon/cerveja.jpg">
        Cerveja
        <img width=40 src="assets/icon/cerveja.jpg"></h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label><strong>Tipo:</strong> {{data.tipo}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label><strong>OG:</strong> {{data.og}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label><strong>FG:</strong> {{data.fg}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label><strong>IBU:</strong> {{data.ibu}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label><strong>SRM:</strong> {{data.srm}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label><strong>ABV:</strong> {{data.abv}}</ion-label>
  </ion-item>

  <ion-button [routerLink]="[ '/tipo-cerveja-list']">
    Voltar
  </ion-button>
  <ion-button  routerLink='/tipo-cerveja-edit/{{data.id}}'>
    Editar
  </ion-button>
</ion-content>